{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/dafi-jp.myshopify.com/orders/edit-field/54545
{% endcomment %}
{% if order.metafields.custom_fields["代引き手数料"] != blank %}
  <div class="custom-field custom-field__代引き手数料 custom-field__type--number">
    <h3 class="custom-field--title">代引き手数料</h3>
    <div class="custom-field--value">
      {{ order.metafields.custom_fields["代引き手数料"] }}
    </div>
  </div>
{% endif %}